/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Courgette', cursive;
  color: #3535a5;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.main-header {
  display: flex;
  justify-content: center;
  background-color: #202123;
}
.main-header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
.main-header .navigation .nav-logo {
  padding: 15px 50px;
}
.main-header .navigation .nav-logo img {
  width: 50%;
}
.main-header .navigation .main-nav {
  display: flex;
  align-items: center;
  width: 110%;
  justify-content: space-evenly;
}
.main-header .navigation .main-nav a {
  color: darkgrey;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 5px 15px;
}
.main-header .navigation .main-nav a:hover {
  text-decoration: underline;
  color: whitesmoke;
}
.main-header .navigation .main-nav .dropdown {
  position: relative;
  display: inline-block;
}
.main-header .navigation .main-nav .drop-content {
  display: none;
  position: absolute;
  background-color: #202123;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 0 0 0;
  z-index: 1;
  margin: 5px 0 0 -10px;
}
.main-header .navigation .main-nav .drop-content a {
  color: darkgrey;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.main-header .navigation .main-nav .dropdown:hover .drop-btns {
  text-decoration: underline;
  color: whitesmoke;
}
.main-header .navigation .main-nav .dropdown:hover .drop-content {
  display: block;
}
.main-header .navigation .main-nav .drop-content a:hover {
  background-color: #131415;
  color: whitesmoke;
  text-decoration: underline;
}
.main-header .navigation .main-nav .shop {
  padding: 5px 15px;
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
}
.main-header .navigation .main-nav .shop:hover {
  background-color: lightgrey;
  color: #202123;
  text-decoration: none;
  font-weight: bold;
  box-shadow: inset 0 0 5px 1px #0b6dce;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: darkgray;
}
body .container {
  flex-direction: row;
}
body .container .main-header {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 60px;
}
body .container .main-header h1 {
  font-size: 5rem;
}
body .container .main-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body .container .main-content .text-box {
  width: 50%;
  padding: 110px 25px 20px 25px;
  color: white;
}
body .container .main-content img {
  width: 45%;
  height: 70%;
  padding: 37px 25px 20px 13px;
}
body .container .btn {
  display: flex;
  justify-content: center;
  padding: 52px;
}
body .container .btn button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 2rem;
}
