
.footer-container {
  height: 160px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  background-color: @lighter-footer-color;
  margin-top: 3%;

  .main-footer {
    color: #22283B;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: @header-color;
    

    footer {
      font-size: 1.5rem;
      width: 75%;
      display: flex;
      color: @nav-text-color;
      align-items: baseline;
      justify-content: space-between;

      .left-footer {

        .spacer {
          padding-left: 15px;
        }

        a {
          text-decoration: none;
          padding: 5px 15px;
          color: @nav-text-color;
        }
      }
      

      .copyright {
        font-size: 1.3rem;
        padding: 0 15px;
        
      }

      a:hover {
        text-decoration: underline;
        color: whitesmoke;
      }
    }
    
  }

}

  