// Landing Page

body {
    background-color: darkgray;
    position: relative;
    
    .background-img {
        position: absolute;
        z-index: -1;

        img {
            max-width: 100%;
            
        }
    }

    .container {
        flex-direction: row;
     
        

        .main-content {
           display: flex;
           width: 100%;
           justify-content: space-between;
          

           .text-box {
               width: 50%;
               padding: 50px 25px 10px 25px;
               color: white;
           }

        }

        .btn {
            display: flex;
            justify-content: center;
            padding: 52px;
            
            button {
                width: 200px;
                height: 50px;
                .btn-rounded-edge;
                font-size: 2rem;
            }

            button:hover {
                background-color: lightgrey;
                color: @header-color;
                transform: scale(1.031);
                font-weight: bold;
                box-shadow: 2px 2px 5px rgb(0, 0, 0);
            }
        }

        .main-body {
            color: white;
            padding-bottom: 40px;
        }

    }
}