// Navigation code here

.main-header {
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    background-color: @header-color;

    .navigation {
        border: 1px solid red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;

        .nav-logo {
            padding: 15px 50px;
            img {
                width: 40%;
                
            }

        }

        .main-nav {
            display: flex;
            align-items: center;
            border: 1px solid red;
            width: 110%;
            justify-content: space-evenly;

            a {
                color: @nav-text-color;
                font-size: 1.5rem;
                text-decoration: none;
            }

            .shop {
                padding: 5px 15px;
                border: 1px solid black;
                background-color: black;
                .nav-round-edge
            }
            
        }

        .main-nav {

        }
    }
}