// Variables

// Color pointers
@header-font-color: @cloud-blue;
@btn-color: @even-blue;
@header-color: @dark-grey;
@footer-color: @deeper-grey;
@lighter-footer-color: @lighter-dark-grey;
@nav-text-color: @grey;

// Color Vars
@cloud-blue: rgb(53, 53, 165);
@deep-blue: rgb(27, 27, 192);
@dark-grey: #0e1112;
@lighter-dark-grey: #181c1f;
@even-blue: #334158;
@deeper-grey: #131415;
@grey: darkgrey;

//Diamentions

@max-content-width: 1000px;